h1{
    text-align: center;
    padding: 200px;
}

#start{
    padding: 15px;
    margin-left:675px;
    margin-top:0px;
}

#displays{
    padding: 55px;
    margin-left:400px;
    margin-top:0px;
    width:600px;
    border: 5px solid black;
}