    h1{
        text-align: center;
        padding: 80px;
    }

    #details{
        padding: 5px;
        margin-left:675px;
        margin-top:0px;
    }

    .row{
        padding-left: 370px;
    }

    #bt-2{
        padding: 5px;
        margin-left:275px;
        margin-top:0px;
        margin-right: 25px;
      }